/**************News List Styles****************/
#news .list-block .item-content{
  padding-left: 0;
}

#news .list-block.media-list .item-media,
#news .list-block li.media-item .item-media{
  padding: 0;
}

#news .list-block.media-list .item-inner,
#news .list-block li.media-item .item-inner {
  margin-left: 0;
  padding-left: 15px;

}
#news .list-block.media-list .item-inner .item-subtitle {
  font-size: .8em;
}
#news .list-block.media-list .item-inner .item-title-row .item-title {
  height: 40px;
  white-space: normal;
  line-height: 1.2em;
}
#news ul.articles{
  background-color: #efeff4;
}
#news .list-block .item-content {
  margin-bottom: 5px;
  background-color: white;
}
#art-img{
  min-width: 150px;
  max-width: 150px;
  height: auto;
}

/****************Editor view****************/
.list-block textarea {
  height: 300px;
}


/************JSON Output view***********/
pre#json-container{
  overflow: overlay;
}

/************Login screen***********/
.login-screen-content{
  padding-top: 50px;
}
#facebook-btn{
  text-align: center;
}
#logo-xl{
  max-width: 300px;
  height: auto;
}
#login-footer{
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
}
