/**************News List Styles****************/
#news .list-block .item-content{
  padding-left: 0;
}

#news .list-block.media-list .item-media,
#news .list-block li.media-item .item-media{
  padding: 0;
}

#news .list-block.media-list .item-inner,
#news .list-block li.media-item .item-inner {
  margin-left: 0;
  padding-left: 15px;

}
#news .list-block.media-list .item-inner .item-subtitle {
  font-size: .8em;
}
#news .list-block.media-list .item-inner .item-title-row .item-title {
  height: 40px;
  white-space: normal;
  line-height: 1.2em;
}
#news ul.articles{
  background-color: #efeff4;
}
#news .list-block .item-content {
  margin-bottom: 5px;
  background-color: white;
}
#art-img{
  min-width: 150px;
  max-width: 150px;
  height: auto;
}
#newsItemPage .page-content{
  background-color: #fff;
}
#newsItemPage .content-block{
  color: #000;
}
#newsItemPage div#img-container{
  margin-top: 0;
  padding: 0;
}
#newsItemPage div#img-container img#newsItemImg{
  width: 100%;
  height: auto;;
}


/****************Editor view****************/
.list-block textarea {
  height: 200px;
}


.list-block.media-list .item-inner{
  height: 80px;
}

/************JSON Output view***********/
pre#json-container{
  overflow: overlay;
}

/************Login screen***********/

#facebook-btn{
  position: absolute;
  width: 100%;
  bottom: 100px;
  text-align: center;
}
#logo-xl{
  max-width: 300px;
  height: auto;
}
#login-footer{
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
}
/************Wellcome screen***********/

#wellcome-msg {
  text-align: center;
  width: 100%;
  position: absolute;
  top: 50%;
  margin-top: -20%;
}
