<div class="navbar">
  <div class="navbar-inner">
    <div class="left sliding"><a href="#" class="back link"> <i class="icon icon-back"></i><span>Back</span></a></div>
    <div class="center sliding">News</div>
  </div>
</div>

<div class="pages">
  <div class="page" data-page="newsItem" id="newsItemPage">
    <div class="page-content">
      <div class="content-block" id="img-container">
        <img id="newsItemImg" src="{{urlToImage}}">
      </div>
      <div class="content-block">
        <h3>{{title}}</h3>
        <span>{{date publishedAt}} | by {{author}}</span>
        <p>{{description}}</p>
      </div>
    </div>
  </div>
</div>
