<div class="navbar">
  <div class="navbar-inner">
    <div class="center sliding">Settings</div>
  </div>
</div>
<div class="pages navbar-through">
  <div data-page="index-3" class="page">
    <div class="page-content">
      <div class="content-block-title">Hello, Jose</div>
      <div class="list-block">
          <ul id="settings-list">
            <li>
              <a href="#" class="item-link item-content" onclick="onLogout()">
                <div class="item-inner">
                  <div class="item-title">Log out</div>
                </div>
              </a>
            </li>
          </ul>
      </div>
    </div>
  </div>
</div>
