<!-- Top Navbar-->
<div class="navbar">
  <div class="navbar-inner">
    <div class="center">Top 10 Stories</div>
    <div class="right">
      <a href="#" onclick="onRefreshPage()">
        <i class="icon f7-icons">reload</i>
      </a>
    </div>
    <!-- Sub navbar -->
    <div class="subnavbar">
        <!-- Sub navbar content, for example tabs buttons -->
        <div class="buttons-row">
            <a href="#" class="button" onclick="routeToEditor()">Editor</a>
            <a href="#" class="button active">Top 10 Stories</a>
        </div>
    </div><!--Subnavbar end-->
  </div><!--Navbar-inner end-->
</div><!--Navbar end-->
<!--Pages-->
<div class="pages">
  <div class="page with-subnavbar" data-page="top10">
    <div class="page-content">
      <div class="content-block-title">Source: News Database</div>
      <div class="list-block media-list">
        <ul id="top10-articles">
          {{#each story}}
          <li>
                <div class="item-content">
                  <div class="item-media">
                      <img id="art-img" src="./img/logo.png">
                  </div>
                    <div class="item-inner">
                        <div class="item-title-row">
                            <div class="item-title">{{this}}</div>
                            <div class="item-after"></div>
                        </div>
                    </div>
                </div>
          </li>
          {{/each}}
        </ul>
      </div><!--media-list end-->
    </div>
  </div><!--Page end-->
</div><!--Pages end-->
